* { font-family:'Open Sans',sans }

.facet h2
{
  color: #00afc8;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.facet
{
  padding: 10px 5px;
  background-color: #ffffff;
}
.box {
  background-color: #f2fafa;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 2px;
}
.filter
{
  grid-area: filter;
  background-color: #ffffff;
}
.item1 {
  grid-area: fst;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.item2 {
  grid-area: scnd;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.item3 {
  grid-area: thrd;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.item4 {
  grid-area: frth;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.item5 {
  grid-area: ffth;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.item6 {
  grid-area: sxth;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.item7 {
  grid-area: svnth;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.item8 {
  grid-area: egth;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
.item9 {
  grid-area: nnth;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}

img { width: 300px; height: 300px; }

.grid-container {
  display: grid;
  grid-template-areas:
    'fst scnd thrd filter'
    'frth ffth sxth filter'
    'svnth egth nnth filter';
  grid-gap: 10px;
  background-color: rgba(255, 255, 255);
  padding: 10px;
}

.grid-container > div {
  font-size: 16px;
}
