* { font-family:'Open Sans',sans }

.facet h2 {
  font-weight: bold;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  cursor: pointer;
}

.oer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.oer-content > li > figure {
  background: rgba(242, 250, 250, 1);   /* rgba(0, 175, 200, 1); */
  height: 100%;
}

.oer-content > li > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.oer-content > li > figure > img:hover {
  opacity: 0.75;
}

#metadata {
  background-color: #f2fafa;
}

#metadata-url {
  /* .results .seperator .result-button-group .result-button.fulltext */
  background: url('https://katalog.slub-dresden.de/typo3conf/ext/slub_katalog_beta/Resources/Public/Images/directlink.svg') no-repeat center center;
  background-size: 80% 80%;
  background-color: #00afc8;
  /* .results .seperator .result-button-group .result-button */
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 10px 0;
  display: block;
}

@media (min-width: 992px) {
  /* .results .seperator .result-button-group .result-button */
  #metadata-url {
    -webkit-transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    -moz-transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    -ms-transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    -o-transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    transform: scale(1);
  }
  #metadata-url:hover {
    transform: scale(1.4);
  }
}

#tu {
    margin: 22px 0 0 18px;
    width: 170px;
    height: 50px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(https://tu-dresden.de/++theme++tud.theme.webcms2/img/tud-logo.svg) no-repeat 0 0;
    background-size: 100%;
    opacity: 0.0;
}

#tu:hover {
    opacity: 1.0;
}

@media (max-width: 350px) {
#tu {
    width: 140px;
}
