::selection {
    background: rgba(153,204,221,0.6)
}

@media (min-width: 375px) {
  .navbar-resultlist #resultOptions {
    height: 0px !important;
  }
}

.navbar-resultlist .resultCount {
  height: 0 !important;
}

@media (min-width: 768px) {
  .navbar-resultlist .resultCount {
    margin: 0 !important;
  }
}

.displayBreadcrumb ol.rootline{
    position:relative;
    margin-top:12px;
    padding:0;
    opacity:.5;
    color:#666;
    list-style-type:none;
    font-size:12px;
    line-height:1.4
}

.displayBreadcrumb ol.rootline:hover{
    opacity:1
}

.displayBreadcrumb ol.rootline li{
    position:relative;
    font-weight:normal;
    padding:0 15px 0 0;
    display:inline-block
}

.displayBreadcrumb ol.rootline li a{
    color:#666;
    font-weight:normal;
    font-family:'VisSlabBold',Georgia,Times,serif
}

.displayBreadcrumb ol.rootline li:before{
    content:none
}

.displayBreadcrumb ol.rootline li:after{
    position:absolute;
    top:50%;
    right:5px;
    width:4px;
    height:4px;
    margin-top:-2px;
    border:solid #666;
    border-width:1px 1px 0 0;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    content:" "
}

.displayBreadcrumb ol.rootline li:last-child{
    padding:0
}

.displayBreadcrumb ol.rootline li:last-child:after{
    content:none
}

.displayBreadcrumb ol{
    margin:1.4em 0;
    list-style:none;
    counter-reset:countlii
}

.displayBreadcrumb .rootline a{
    text-decoration:none
}

.displayText {
  line-height: 160%;
}

.displayText > h1 {
  color: #c00;
  font-size: 2.5em !important;
  font-weight: normal !important;
  margin-top: 36px;
  margin-bottom: 24px;
}

.displayText > p > a {
  color: #078078 !important;
  text-decoration: underline !important;
}

.displayText > p {
  color: #333;
  font-size: 16px;
  font-family: 'VisSlabReg',Arial,Helvetica,sans-serif;
  position: relative;
  margin: 0.7em 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  cursor: pointer;
}

.oer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.oer-content > li > figure {
  position: relative;
  background: rgba(242, 250, 250, 1);   /* rgba(0, 175, 200, 1); */
  height: 100%;
}

.oer-content > li > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

.oer-content > li > figure > img:hover {
  opacity: 0.75;
}

.oer-content > li > figure figcaption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0d4b58;
  transform: scaleX(0);
  transition: all .2s ease-in-out;
  color: white;
  padding: 30px;
}

.oer-content > li.active > figure figcaption {
 transform: scaleX(1);
  opacity: 1;
}

.oer-content > li > figure figcaption h3 {
  color: white;
}

.oer-content > li.active > figure > img {
  transform: scaleX(0);
  opacity: 0;
}

a[id$="metadata-url"] {
  /* .results .seperator .result-button-group .result-button.fulltext */
  background: url('https://katalog.slub-dresden.de/typo3conf/ext/slub_katalog_beta/Resources/Public/Images/directlink.svg') no-repeat center center;
  background-size: 80% 80%;
  background-color: #00afc8;
  /* .results .seperator .result-button-group .result-button */
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 10px 0;
  display: block;
}

@media (min-width: 992px) {
  /* .results .seperator .result-button-group .result-button */
  a[id$="metadata-url"] {
    -webkit-transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    -moz-transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    -ms-transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    -o-transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    transition: all 150ms cubic-bezier(0.16, -0.5, 0.14, 3);
    transform: scale(1);
  }
  a[id$="metadata-url"]:hover {
    transform: scale(1.4);
  }
}

#tu {
    margin: 22px 0 0 18px;
    width: 170px;
    height: 50px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(https://tu-dresden.de/++theme++tud.theme.webcms2/img/tud-logo.svg) no-repeat 0 0;
    background-size: 100%;
    opacity: 0.0;
}

#tu:hover {
    opacity: 1.0;
}

@media (max-width: 350px) {
#tu {
    width: 140px;
  }
}

@media (min-width: 351px) and (max-width: 390px) {
#tu {
    display: none;
  }
}
